<div id="mineralDiv">	
	<form>  
		<div class="form-group">  
			<h1 class="text-center text-primary">Mineral Collection</h1>   
			<div class="input-group-prepend">       
				<input type="text" class="form-control" placeholder="Mineral" name="mineralType" [(ngModel)]="mineral.type"> 
				<input type="text" class="form-control" placeholder="Collected In" name="collectedIn" [(ngModel)]="mineral.collected_in">
				<input type="text" class="form-control" placeholder="Grams" name="grams" [(ngModel)]="mineral.weight_in_grams">
				<span (click)="addMineral(mineral.type, mineral.collected_in, mineral.weight_in_grams)" class="input-group-text btn btn-primary">Add Mineral</span>   
			</div> 
		</div> 
	</form>

	<h2>My Minerals</h2>
		<ul class="minerals">
			<li class="list-group-item" *ngFor="let mineral of minerals">
				<span (click)="deleteMineral(mineral)" id= {{mineral.id}} title="Delete From the Collection">
					<span>{{mineral.type}} was collected in {{mineral.collected_in}} </span>
					<span *ngIf="mineral.weight_in_grams"> and is {{mineral.weight_in_grams}} grams.</span>
				</span>       
			</li>
		</ul>

	<span (click)="resetCollection()" class="input-group-text btn btn-danger">Reset Collection</span>

</div>